<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather | About</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <header>
        {{>header}}
    </header>
    <div id="main">
        <div id="content">
            <h2><u>About:</u></h2>
            <ul>
                <li>This is a Weather forecast website.</li>
                <li>Here you can know the current weather status and next 3 days forcast.</li>
                <li>It shows hourly updates.</li>
                <li>Created by:Koushik Paul.</li>
                <li>You can contact me via Twitter. Link is in <b>Contact Us</b></li>
                <li>All suggestions are accepted.</li>
                <li style="color: red;">Now this website is responsive for only 1920*1080px and mobile devices. In
                    future,
                    I
                    will try to make it responsive for all available device</li>
            </ul>
        </div>
    </div>
    <footer>
        {{>footer}}
    </footer>
</body>

</html>