<div style="clear: both;"></div>
<div>
    <div class="footerShortDiv">
        <h2>
            Credits:
        </h2>
        <ul>
            <li> <a href="https://www.weatherapi.com/" target="_blank" rel="noreferrer noopener">Weather Api</a></li>
            <li><a href="https://github.com/poseidon-code" target="_blank" rel="noreferrer noopener">Colaboration</a>
            </li>

        </ul>
    </div>
    <div class="footerShortDiv">
        <h2>Contact Us:</h2>
        <ul>
            <li><a href="https://github.com/kpaul-7" target="_blank">Github</a></li>
            <li><a href="https://twitter.com/K_paul7" target="_blank">Twitter</a></li>
        </ul>
    </div>
    <div class="footerShortDiv">
        <h2>
            Usefull Links:
        </h2>
        <ul>
            <li>Comming soon!</li>
        </ul>
    </div>

</div>
<div style="clear: both;"></div>
<div id="copyrightDiv">
    <p>Viwers Count: {{VIWER_COUNT}}</p>
    <p>&copy;Koushik Paul | 2021 </script>
    </p>
</div>