<div id="appName">
  <h1>Weather Checker</h1>
</div>
<div id="navBar">
  <ul>
    <li><a href="/">Weather</a></li>
    <li><a href="/help">Help</a></li>
    <li><a href="/about">About</a> </li>
  </ul>
</div>