/* body section style  */
#main {
  min-height: 32em;
}
#content {
  width: 60%;
  margin: auto;
  font-size: 1.5em;
}
#content a {
  text-decoration: none;
}
/* for Mobile  */
@media only screen and (max-width: 768px) {
  /* body section style  */
  #main {
    min-height: 15em;
  }
  #content {
    width: 90%;
    margin: auto;
    font-size: 1em;
  }
  #content a {
    text-decoration: none;
  }
}
